.heading{
    font-size:43px;
    font-weight:normal;
    font-style:italic;
    font-weight:bold;
    letter-spacing:0.05em;
}
.headre-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.head-comp-cart{
    width: 40%;
}
.cart-logo{
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    display: flex;
    justify-content: space-around;
}
.head-comp-search{
    display: flex;
    justify-content: center;
}
.head-comp-search > input{
    width: 87%;
    background-color: black;
    color: white;
    padding:0px 10px;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
}
.head-comp-search > input:focus{
    border: 1px solid transparent;
}
.head-comp-search > input:hover{
background-color: pink;
}
.asdfg{
    height: 40px;
    width: 100px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    display: flex;
    justify-content: space-around;
}